{% extends "partials/_base_record_modal.html" %}

{% block modal_body %}
    <div id="addCollegeFormAlert" class="alert d-none" role="alert"></div>
    {% with form_id="addCollegeForm", action_url=url_for('colleges.add_college')%}
        {% include "colleges/partials/_form.html" %}
    {% endwith %}
{% endblock %}

{% set modal_id = "addCollegeModal" %}
{% set modal_label = "addCollegeModalLabel" %}
{% set form_type = "addCollegeForm" %}
{% set title = "Add New " ~ header_var ~ " Record" %}
{% set arial_label = "addCollegeModalLabel" %}