{% extends "partials/_base_record_modal.html" %}

{% block modal_body %}
    {% with form_id="addStudentForm", action_url=url_for('students.add_student'), form_action = "add", pKeys=pKeys %}
        {% include "students/partials/_form.html" %}
    {% endwith %}
{% endblock %}

{% set modal_id = "addStudentModal" %}
{% set modal_label = "addStudentModalLabel" %}
{% set form_type = "addStudentForm" %}
{% set title = "Add New " ~ header_var ~ " Record" %}
{% set arial_label = "addStudentModalLabel" %}