<form id="{{ form_id }}" method="POST" action="{{ action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" id="{{ form_action }}OriginalID" name="{{ form_action }}OriginalID" value="">
    <div class="mb-3">
        <label for="{{ form_action }}ID" class="form-label">ID Number (Format: YYYY-NNNN)</label>
        <input 
            type="text"
            class="form-control"
            id="{{form_action}}ID"
            name="{{form_action}}ID"
            minlength="9"
            maxlength="9"
            pattern="^(?:19(?:6[7-9]|[7-9]\d)|20\d{2}|2100)-(?!0000)\d{4}$"
            required>
    </div>

    <div class="mb-3">
        <label for="{{form_action}}FirstName" class="form-label">First Name</label>
        <input 
            type="text"
            class="form-control"
            id="{{form_action}}FirstName"
            name="{{form_action}}FirstName"
            minlength="1"
            maxlength="100"
            pattern="^[\p{L}]+(?: [\p{L}]+)*$"
            required>
    </div>

    <div class="mb-3">
        <label for="{{form_action}}LastName" class="form-label">Last Name</label>
        <input
            type="text"
            class="form-control"
            id="{{form_action}}LastName"
            name="{{form_action}}LastName"
            minlength="1"
            maxlength="100"
            pattern="^[\p{L}]+(?: [\p{L}]+)*$"
            required>
    </div>

    <div class="mb-3">
        <label class="form-label me-3">Gender:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="male" name="{{form_action}}Gender" value="Male" required>
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="female" name="{{form_action}}Gender" value="Female" required>
            <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="lgbt" name="{{form_action}}Gender" value="LGBTQIA+" required>
            <label class="form-check-label" for="lgbt">LGBTQIA+</label>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label me-3">Year Level:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl1" name="{{form_action}}YearLevel" value="1" required>
            <label class="form-check-label" for="yl1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl2" name="{{form_action}}YearLevel" value="2" required>
            <label class="form-check-label" for="yl2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl3" name="{{form_action}}YearLevel" value="3" required>
            <label class="form-check-label" for="yl3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl4" name="{{form_action}}YearLevel" value="4" required>
            <label class="form-check-label" for="yl4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl5" name="{{form_action}}YearLevel" value="5+" required>
            <label class="form-check-label" for="yl5">5+</label>
        </div>
    </div>

    <div class="mb-3">
        <label for="{{form_action}}ForeignProgramCode" class="form-label">Program Code</label>
        <select class="selectpicker" data-live-search="true" name="{{form_action}}ForeignProgramCode" required>
            {% for pk in pKeys %}
                <option value="{{ pk.Code }}">{{ pk.Code }}</option>
            {% endfor %}
        </select>
    </div>
</form>
