{% extends "partials/_base_record_modal.html" %}

{% block modal_body %}
    {% with form_id="editStudentForm", action_url=url_for('students.edit_student'), form_action = "edit", pKeys=pKeys %}
        {% include "students/partials/_form.html" %}
    {% endwith %}
{% endblock %}

{% set modal_id = "editStudentModal" ~ key %}
{% set modal_label = "editStudentModalLabel" %}
{% set form_type = "editStudentForm" %}
{% set title = "Edit " ~ header_var ~ " Record" %}
{% set arial_label = "editStudentModalLabel" %}