body {
    display: flex;
}

.sidebar {
    min-width: 185px;
    max-width: 185px;
    height: 100vh;
    color: white;
    padding: 1rem;
    transition: max-width 0.5s ease-in-out, min-width 0.5s ease-in-out;
    overflow: hidden;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    min-height: 40px;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.sidebar-header .icon {
    font-size: 1.5rem;
}


.sidebar.minimized {
    min-width: 85px;
    max-width: 85px;
}

.sidebar.minimized .sidebar-header .title {
    transition-delay: 0.5s;
    display: none;
}

.sidebar.minimized .text {
    display: none;
}

.sidebar.minimized .nav-link .icon {
    margin-right: 0 !important;
}

.sidebar .icon svg {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.nav-link.active{
    animation: fadeInActive 1s ease;
}

.content {
    flex-grow: 1;
    padding: 2rem;
}

.content-header{
    width: 100%;
}

.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}

tr button{
    visibility: hidden;
}

tr:hover button{
    visibility: visible;
}
 .ico-card{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  i{
    position: relative;
    right: -50%;
    top:60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color:rgba(255,255,255,1);
    z-index: 0;
   }
@keyframes fadeInActive {
    from {
        color: var(--bs-nav-link-color); 
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)); 
    }
    to { 
        color: var(--bs-nav-pills-link-active-color);
        background-color: var(--bs-nav-pills-link-active-bg); 
    }
}