body {
    display: flex;
}

.bg-content {
    background-color: #1a1d20 !important;
}

.sidebar {
    min-width: 185px;
    max-width: 185px;
    height: 100vh;
    color: white;
    padding: 1rem;
    transition: max-width 0.5s ease-in-out, min-width 0.5s ease-in-out;
    overflow: hidden;
}

.sidebar-header, .offcanvas-header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    min-height: 40px;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.sidebar-header .icon {
    font-size: 1.5rem;
}


.sidebar.minimized {
    min-width: 85px;
    max-width: 85px;
}

.sidebar.minimized .sidebar-header .title {
    transition-delay: 0.5s;
    display: none;
}

.sidebar.minimized .text {
    display: none;
}

.sidebar.minimized .nav-link .icon {
    margin-right: 0 !important;
}

.sidebar .icon svg {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.nav-link.active{
    animation: fadeInActive 1s ease;
}

.content {
    flex-grow: 1;
    padding: 2rem;
}

.content-header{
    width: 100%;
}

.table td.fit, .table th.fit {
    white-space: nowrap !important;
    width: 1% !important;
}

tr button{
    visibility: hidden;
}

tr:hover button{
    visibility: visible;
}

.table th:first-child,
.table td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.dashboard-header .card {
    transition: all 0.3s ease;
}

.dashboard-header .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.dashboard-header .card-body .display-4 {
    transition: all 0.3s ease;
}

.dashboard-header .card:hover .card-body .display-4 {
    transform: scale(1.1);
}

.button-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.uppercase-field{
    text-transform: uppercase;
}
@keyframes fadeInActive {
    from {
        color: var(--bs-nav-link-color); 
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)); 
    }
    to { 
        color: var(--bs-nav-pills-link-active-color);
        background-color: var(--bs-nav-pills-link-active-bg); 
    }
}