<form id="{{ form_id }}" method="POST" action="{{ action_url }}">
    <div class="mb-3">
        <label for="recordProgramPrimaryCode" class="form-label">Code</label>
        <input type="text" class="form-control" id="recordProgramPrimaryCode" name="recordProgramPrimaryCode" required>
    </div>
    <div class="mb-3">
        <label for="recordProgramName" class="form-label">Name</label>
        <input type="text" class="form-control" id="recordProgramName" name="recordProgramName" required>
    </div>
    <div class="mb-3">
        <label for="recordForeignyCollegeCode" class="form-label">College Code</label>
        <select class="selectpicker" data-live-search="true" name="recordForeignCollegeCode" required>
            {% for pk in pKeys %}
            <option value="{{pk.Code}}">{{pk.Code}}</option>
            {% endfor %}
        </select>
    </div>
</form>