<form id="{{ form_id }}" method="POST" action="{{ action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" id="{{ form_action }}OriginalProgramCode" name="{{ form_action }}OriginalProgramCode" value="">
    <div class="mb-3">
        <label for="{{form_action}}ProgramPrimaryCode" class="form-label">Code</label>
        <input 
            type="text"
            class="form-control uppercase-field"
            id="{{form_action}}ProgramPrimaryCode"
            name="{{form_action}}ProgramPrimaryCode"
            minlength="1"
            maxlength="20"
            pattern="^[\p{L}]+(?: [\p{L}]+)*$"
            required>
    </div>
    <div class="mb-3">
        <label for="{{form_action}}ProgramName" class="form-label">Name</label>
        <input
            type="text"
            class="form-control"
            id="{{form_action}}ProgramName"
            name="{{form_action}}ProgramName"
            minlength="1"
            maxlength="100"
            pattern="^[\p{L}]+(?: [\p{L}]+)*$"
            required>
    </div>
    <div class="mb-3">
        <label for="{{form_action}}ForeignyCollegeCode" class="form-label">College Code</label>
        <select class="selectpicker" data-live-search="true" name="{{form_action}}ForeignCollegeCode" required>
            {% for pk in pKeys %}
            <option value="{{pk.code}}">{{pk.code}}</option>
            {% endfor %}
        </select>
    </div>
</form>