{% extends "base.html" %}

{% block title %}Uniflow Dashboard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center py-3">
    <h1>Welcome back, {{ username }}!</h1>
    <div class="d-flex align-items-center justify-content-center gap-3">
        <div style="width: 64px;">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg"
                class="img-fluid img-thumbnail rounded-circle shadow"
                alt="User image"
                id="userProfile"
                style="cursor: pointer;"
            >
        </div>
        <form action="{{ url_for('user.logout') }}" method="get">
            <button class="btn btn-danger" type="submit">Log Out</button>
        </form>
    </div>
</div>
<div class="dashboard-header row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center my-3">
    {% include "dashboard/partials/_student_card.html" %}
    {% include "dashboard/partials/_program_card.html" %}
    {% include "dashboard/partials/_college_card.html" %}
</div>

<div class="card shadow flex-grow-1 bg-dark text-light">
    <div class="card-body">
        <h5 class="card-title">Student Chart</h5>
        <div class="chart-container" style="position: relative; height:40vh; width:100%;">
            <canvas id="dashboardStudentChart"></canvas>
        </div>
    </div>
</div>

{% include "dashboard/partials/_user_image_modal.html" %}

{% block scripts %}
{{ super() }}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Custom Script-->
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% endblock %}