<td class="fit">
    <div class="button-container">
        <button class="btn btn-primary btn-sm edit-btn" 
                data-id="{{ key }}" 
                data-bs-toggle="modal" 
                data-bs-target="#edit{{ header_var}}Modal">
            <i class="bi bi-pencil"></i>
        </button>

        <button class="btn btn-danger btn-sm delete-btn" 
                data-id="{{ key }}">
            <i class="bi bi-trash"></i>
        </button>

        <button class="btn btn-info btn-sm text-light info-btn" 
                data-id="{{ key }}">
            <i class="bi bi-info-square"></i>
        </button>
    </div>
</td>