{% extends "table_base.html" %}

{% block title %}Uniflow Students{% endblock %}

{% block content %}
    {{super()}}
{% endblock %}

{% block stylesheets %}
{{ super() }}
<!-- FilePond -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<!-- FilePond plugins -->
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
{% endblock %}

{% block addbuttonicon %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg>
{% endblock %}

{% block tableheader %}
<th>ID Number</th>
<th>First Name</th>
<th>Last Name</th>
<th>Gender</th>
<th>Year Level</th>
<th>Program Code</th>
<th>Image</th>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- FilePond -->
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<!-- FilePond plugins -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<!-- FilePond jQuery adapter -->
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<!-- Custom Srudent Script-->
<script src="{{ url_for('static', filename='js/student.js') }}"></script>
{% endblock %}


{% with pKeys=reqPKeys %}
    {% include "students/partials/_create_modal.html" %}
    {% include "students/partials/_update_modal.html" %}
{% endwith %}
{% include "students/partials/_info_modal.html" %}