<div class="modal fade" id="userProfileModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ username }}">User {{ username }} Profile</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-center">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg"
                        class="img-fluid img-thumbnail rounded-circle shadow"
                        alt="User image"
                    >
                </div>
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>