{% extends "table_base.html" %}

{% block title %}Uniflow Students{% endblock %}

{% block content %}
    {{super()}}
{% endblock %}

{% block filteroptions %}
<option value="1" selected>All</option>
<option value="2">ID Number</option>
<option value="3">First Name</option>
<option value="4">Last Name</option>
<option value="5">Gender</option>
<option value="6">Year Level</option>
<option value="7">Program Code</option>
{% endblock %}

{% block addbuttonicon %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg>
{% endblock %}

{% block tableheader %}
<th>ID Number</th>
<th>First Name</th>
<th>Last Name</th>
<th>Gender</th>
<th>Year Level</th>
<th>Program Code</th>
{% endblock %}

{% block tablerow %}
{% for r in records %}
<tr>
    <td>{{ r.ID }}</td>
    <td>{{ r.FirstName }}</td>
    <td>{{ r.LastName }}</td>
    <td>{{ r.Gender }}</td>
    <td>{{ r.YearLevel }}</td>
    <td>{{ r.ProgramCode }}</td>
    {{ super() }}
</tr>
{% endfor %}
{% endblock %}

{% block addform %}
<form id="addRecordForm" method="POST" action="/add_record">
    <div class="mb-3">
        <label for="recordID" class="form-label">ID Number</label>
        <input type="text" class="form-control" id="recordID" name="recordID" required>
    </div>
    <div class="mb-3">
        <label for="recordFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="recordFirstName" name="recordFirstName" required>
    </div>
        <div class="mb-3">
        <label for="recordLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="recordLastName" name="recordLastName" required>
    </div>
    <div class="mb-3">
        <label for="recordGender" class="form-label me-3">Gender:</label>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="male" name="gender" value="M">
            <label class="form-check-label" for="male">Male</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="female" name="gender" value="F">
            <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="lgbt" name="gender" value="L">
            <label class="form-check-label" for="lgbt">LGBTQIA+</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="recordYearLevel" class="form-label me-3">Year Level:</label>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl1" name="yearLevel" value="1">
            <label class="form-check-label" for="yl1">1</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl2" name="yearLevel" value="2">
            <label class="form-check-label" for="yl2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl3" name="yearLevel" value="3">
            <label class="form-check-label" for="yl3">3</label>
        </div>
                <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl4" name="yearLevel" value="4">
            <label class="form-check-label" for="yl4">4</label>
        </div>
                <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="yl5" name="yearLevel" value="5">
            <label class="form-check-label" for="yl5">5</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="recordProgramCode" class="form-label">Program Code</label>
        <select class="form-select" id="recordProgramCode">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
</form>
{% endblock %}