{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
<div class="content-table-header d-flex flex-wrap justify-content-between border-bottom py-3 align-items-center">
    <h4 class="mb-2 mb-md-0">{{ header_var}} Records</h4>
    <button type="button" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add{{ header_var}}Modal">
        <span class="icon me-2">
            {% block addbuttonicon %}

            {% endblock %}
        </span>
        Add {{ header_var }}
    </button>
</div>
<div class="table-responsive-md flex-grow-1">
    <table id="{{header_var}}Table" class="table table-dark shadow table-striped table-hover">
        <thead>
            <tr>
                {% block tableheader %}

                {% endblock %}
                <th class="fit"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}